header {
  background-color: #000000;
  padding: 20px 24px; /* agregamos padding lateral */
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* ← esto separa links y botón */
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 auto; /* centra los links */
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: rgb(27, 226, 9);
  font-weight: bold;
}

nav a:hover {
  color: #00bcd4;
}
